body{
    padding: 5%;
}
.error{

    border:1px solid red;
    box-shadow: 0 0 3px red; 
    border-radius: 10px;
}

.bg-modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content{
    width: 500px;
    height: 300px;
    background-color:#fffcc7;
    opacity: 1;
    position: relative;
    color: rgb(116, 42, 0);
    padding: 5%;
}
.close{
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}